[Unit]
Description=uWSGI instance to serve pong_logger
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/OpenNetNorad/pong_logger
ExecStart=/var/www/OpenNetNorad/pong_logger/pong_logger -addr=127.0.0.1:5000

[Install]
WantedBy=multi-user.target
